@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

*{
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    
}
@theme{
    --color-primary:#5044E5
}
